  
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #262626;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #2b2b2b;
    width: 100%;
    box-shadow: 0px 5px 5px #262626;
}

.logo {
    width: 60px;
    float: left;
}

.nav-bar {
    display: flex;
    justify-content: center;
    margin: 13px auto;
    
}

.nav-button {
    padding: 5px 15px;
    font-size: 1.5em;
    border: 1px #e43d44 solid;
    color: white;
    text-decoration: none;
}

.nav-button:hover {
    cursor: pointer;
    color: #e43d44;
}

.nav-list {
    list-style: none;
    display: flex;
}

.main {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    background-image: url(https://images6.alphacoders.com/987/987034.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.main-title {
    color: white;
    font-size: 3rem;
}

.main-image {
    width: 300px;
    height: 200px;
}

.main-image:hover {
    border: 3px #e43d44 solid;
}

#menu-sushi {
    width: 70%;
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border: 1px #e43d44 solid;
    margin-top: 50px;
}

.menu-picture {
    padding: 0px auto;
    width: 300px;
    height: 200px;
}

.drinks-picture {
    width: 200px;
    height: 200px;
}

.add-to-cart:hover {
    cursor: pointer;
}

.contact {
    width: 100%;
    height: 30vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#container {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#contact-video {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-footer{
width: 100%;
display: flex;
justify-content: center;
}

.contact-footer-picture{
    width: 50px;
}

.cart-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    font-size: 2em;
}

#table td {
    border: #e43d44 1px solid;
}